{% extends "invitation/main.html" %}

{% block content %}
    {% for guest in invitation.person_list %}
        <p class="smallerText">
            {% if language == "en" %}
                Will {{ guest.english_name }} be coming?
            {% else %}
                האם
                {{ guest.hebrew_name }}
                מגיע/ה?
            {% endif %}
            <select class="rsvpSelect" guestId="{{ guest.id }}">
                <option disabled class="hidden" {% if guest.person_rsvp == 'Maybe' %}selected="selected"{% endif %}></option>
                <option value="Yes" {% if guest.person_rsvp == 'Yes' %}selected="selected"{% endif %}>{% if language == "en" %}Yes{% else %}כן{% endif %}</option>
                <option value="No" {% if guest.person_rsvp == 'No' %}selected="selected"{% endif %}>{% if language == "en" %}No{% else %}לא{% endif %}</option>
            </select>
        </p>
        <div id="guestDetails">
            <p class="smallerText">
                {% if language == "en" %}
                    Dietary requests?
                {% else %}
                    בקשה תזונתית?
                {% endif %}
                <select class="dietarySelect" guestId="{{ guest.id }}">
                    <option value="None" {% if guest.diet_choices == None %}selected="selected"{% endif %}>
                        {% if language == "en" %}None{% else %}אין{% endif %}
                    </option>
                    <option value="Vegetarian" {% if guest.diet_choices == "Vegetarian" %}selected="selected"{% endif %}>
                        {% if language == "en" %}Vegetarian{% else %}צמחוני{% endif %}
                    </option>
                    <option value="Vegan" {% if guest.diet_choices == "Vegan" %}selected="selected"{% endif %}>
                        {% if language == "en" %}Vegan{% else %}טבעוני{% endif %}
                    </option>
                    <option value="Glatt" {% if guest.diet_choices == "Glatt" %}selected="selected"{% endif %}>
                        {% if language == "en" %}Glatt Kosher{% else %}כשר גלאט{% endif %}
                    </option>
                    <option value="GlutenFree" {% if guest.diet_choices == "GlutenFree" %}selected="selected"{% endif %}>
                        {% if language == "en" %}Gluten Free{% else %}ללא גלוטן{% endif %}
                    </option>
                </select>
            </p>
        </div>
    {% endfor %}
    <button id="sendBtn" class="btn">
        {% if language == "en" %}Send{% else %}שלח{% endif %}
    </button>

    <script>
        function toggleGuestDetail(selector) {
            if (selector.value == 'Yes') {
                if (!window.mobilecheck()) {
                    $(selector).parent().next().slideDown();
                }
                else {
                    $(selector).parent().next().show()
                }
            }
            else {
                if (!window.mobilecheck()) {
                    $(selector).parent().next().slideUp();
                }
                else {
                    $(selector).parent().next().hide()
                }
            }
        }

        $(document).ready(function() {
            var $rsvpSelect = $('.rsvpSelect');
            $rsvpSelect.change(function() {
                toggleGuestDetail(this);
                $.post("./" + this.getAttribute("guestId") + "/rsvp/" + this.value);
            });
            $rsvpSelect.each(function() {
                toggleGuestDetail(this);
            });
            $('.dietarySelect').change(function() {
                $.post("./" + this.getAttribute("guestId") + "/diet/" + this.value);
            });
            $('#sendBtn').click(function() {
                var $dietOpen = $('#dietOpen');
                $.when(
                        {% if invitation.is_family %}
                        $.post("./family_number/" + $('.numGuestsSelect').val()),
                        $.post("./" + $dietOpen.attr("guestId") + "/family_diet/", { "dietaryInfo": $dietOpen.val() }),
                        {% endif %}
                        $('.rsvpSelect').each(function() {
                            $.post("./" + $(this).attr("guestId") + "/rsvp/" + this.value)
                        }),
                        $('.dietarySelect').each(function() {
                            $.post("./" + this.getAttribute("guestId") + "/diet/" + this.value)
                        })
                ).then(function () {
                        {% if language == "en" %}
                            alert("Information sent successfully.");
                        {% else %}
                            alert("המידע נשלח בהצלחה.");
                        {% endif %}
                        },
                function (){
                        {% if language == "en" %}
                            alert("Error: Information was not sent.");
                        {% else %}
                            alert("שגיאה: המידע לא נשלח.");
                        {% endif %}
                });
            });
        });
    </script>
{% endblock %}