<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static "meer/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "meer/statistics.css" %}">
    <title>Gavriela RSVP Statistics</title>
</head>
<body>



<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Statistics & more</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-pills">
                <li class="navbutton"><a href="#statistics">Statistics</a></li>
                <li class="navbutton"><a href="#rsvp">RSVP list</a></li>
                <li class="navbutton"><a href="#comments">Comments</a></li>
                <li class="navbutton"><a href="#rides">Rides</a></li>
                <li class="navbutton"><a href="#emails">Missing emails</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Export<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/export_all">Export <b>all data</b> to excel</a></li>
                        <li><a href="/export_hall"> Export data to <b>hall/app</b> excel</a></li>
                        <li><a href="/export_rides"> Export <b>rides</b> info to excel</a></li>
                    </ul>
                </li>
                <li class="navbutton"><a href="/admin/invitation/invitation/">Admin</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="page">
    <h1 class="page-header" id="statistics" style="margin-top: 0">Statistics</h1>
    <h2>Statistics</h2><br /><br />
    <div style=" margin-left: 4%;">
        <table class="table table-hover " style="text-align:left; max-width: 450px;">
            <tr>
                <td>Number of people coming:</td>
                <td>{{ stats.coming }}</td>
            </tr>
            <tr>
                <td>Number of people <b>not</b> coming:</td>
                <td>{{ stats.not_coming }}</td>
            </tr>
            <tr>
                <td>Number of people <b>maybe</b> coming:</td>
                <td>{{ stats.maybe_coming }}</td>
            </tr>
            <tr>
                <td>Number of people invited:</td>
                <td>{{ stats.guest_number }}</td>
            </tr>
            <tr>
                <td>Percentage of invitations opened:</td>
                <td>{{ stats.percent_opened }}%</td>
            </tr>
            <tr>
                <td>Percentage of invitations RSVPed:</td>
                <td>{{ stats.percent_invite_rsvped }}%</td>
            </tr>
            <tr>
                <td>Percentage of people RSVPed:</td>
                <td>{{ stats.percent_person_rsvped }}%</td>
            </tr>
            <tr>
                <td>RSVPed to opened ratio:</td>
                <td>{{ stats.percent_rsvp_to_opened }}%</td>
            </tr>
            {% for diet in stats.diet_list %}
                <tr>
                    <td>{{ diet.diet }}:</td>
                    <td>{{ diet.number }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="page">
    <h1 id="rsvp" class="page-header">RSVP list</h1>
    <h2>People who RSVPed!</h2><br /><br />
    <div style="margin-left: 4%; max-width: 850px; height:76%;">
        <table class="table table-hover" style="text-align:left; max-width: 800px;">
            <thead>
            <tr>
                <th>Name</th>
                <th>RSVP</th>
                <th>Diet</th>
            </tr>
            </thead>
            {% for invitation in stats.list_yes %}
                <tr><td  class="col-md-5"><b>{{ invitation.invite }}:</b>  {{ invitation.name }}</td>
                    <td  class="col-md-1">{{ invitation.rsvp }}</td>
                    <td  class="col-md-2">{{ invitation.diet }}</td>
                    <td  class="col-md-1"><a class="btn btn-success" target="_blank" href="/invitation/{{ invitation.id }}">Invite</a></td>
                    <td  class="col-md-1"><a class="btn btn-success" target="_blank" href="/admin/invitation/invitation/{{ invitation.admin_id }}">Admin</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="page">
    <h1 id="comments" class="page-header">Comments</h1>
    <h2>Comments</h2><br /><br />
    <div style="height:95%;">
        <table class="table table-hover" style="text-align:left; margin-left: 4%; max-width: 850px;">
            {% for invitation in stats.list_comments %}
                <tr><td class="col-md-2"><b>{{ invitation.invite }}:</b></td>
                    <td style="white-space:pre-wrap" class="col-md-5">{{ invitation.message }}</td>
                    <td  class="col-md-1"><a class="btn btn-success" target="_blank" href="/invitation/{{ invitation.id }}">Invite</a></td>
                    <td  class="col-md-1"><a class="btn btn-success" target="_blank" href="/admin/invitation/invitation/{{ invitation.admin_id }}">Admin</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="page">
    <h1 id="rides" class="page-header">Rides</h1>
    <h2>Rides</h2>
    <div style="float:left; min-width: 200px; margin-right: 50px;">
        <h3>Need rides</h3>
        <table class="table table-hover" style="text-align:left; margin-left: 4%; max-width: 450px;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
            </tr>
            </thead>
            {% for invitation in stats.need_rides|dictsort:"location" %}
                <tr><td><b>{{ invitation.invite }}: </b>{{ invitation.guest }}</td>
                    <td>{{ invitation.location }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="float:left; min-width: 200px;">
        <h3>Can give rides</h3>
        <table class="table table-hover" style="text-align:left; margin-left: 4%; max-width: 450px;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Seats</th>
            </tr>
            </thead>

            {% for invitation in stats.can_give_ride|dictsort:"location" %}
                <tr><td><b>{{ invitation.invite }}: </b>{{ invitation.guest }}</td>
                    <td>{{ invitation.location }}</td>
                    <td class="col-md-1">{{ invitation.seat_num }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="page" style="clear:both;">
    <h1 id="emails" class="page-header">Missing emails</h1>
    <h2>Missing emails</h2>
    <div style="min-width: 200px; margin-right: 50px;">
        <table class="table table-hover" style="text-align:left; margin-left: 4%; max-width: 450px;">
            <thead>
            <tr>
                <th>Invitaions without emails</th>
            </tr>
            </thead>
            {% for invitation in stats.invitations_without_emails %}
                <tr>
                    <td>{{ invitation.invitation_name }}</td>
                    <td  class="col-md-1"><a class="btn btn-success" target="_blank" href="/invitation/{{ invitation.invite_id }}">Invite</a></td>
                    <td  class="col-md-1"><a class="btn btn-success" target="_blank" href="/admin/invitation/invitation/{{ invitation.id }}">Admin</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "meer/js/bootstrap.min.js" %}"></script>
<script src="{% static "meer/statistics.js" %}"></script>


</body>
</html>