<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static "statistics/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "statistics/statistics.css" %}">
    <title>RSVP Statistics</title>
</head>
<body>



<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Statistics & more</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-pills">
                <li class="navbutton"><a href="#statistics">Statistics</a></li>
                <li class="navbutton"><a href="#coming">Coming</a></li>
                <li class="navbutton"><a href="#diet">Diet information</a></li>
                <li class="navbutton"><a href="/export_all">Export</a></li>
                <li class="navbutton"><a href="/admin/invitation/invitation/">Admin</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="page">
    <h1 class="page-header" id="statistics" style="margin-top: 0">Statistics</h1>
    <h2>Statistics</h2><br /><br />
    <div style=" margin-left: 4%;">
    <table class="table table-hover " style="text-align:left; max-width: 450px;">
        <tr>
            <td>Number of people coming:</td>
            <td>{{ stats.coming }}</td>
        </tr>
        <tr>
            <td>Number of people <b>not</b> coming:</td>
            <td>{{ stats.not_coming }}</td>
        </tr>
        <tr>
            <td>Number of people <b>maybe</b> coming:</td>
            <td>{{ stats.maybe_coming }}</td>
        </tr>
        <tr>
            <td>Number of people invited:</td>
            <td>{{ stats.guest_number }}</td>
        </tr>
        <tr>
            <td>Percentage of invitations opened:</td>
            <td>{{ stats.percent_opened }}%</td>
        </tr>
        <tr>
            <td>Percentage of invitations RSVPed:</td>
            <td>{{ stats.percent_invite_rsvped }}%</td>
        </tr>
        <tr>
            <td>Percentage of people RSVPed:</td>
            <td>{{ stats.percent_person_rsvped }}%</td>
        </tr>
    </table>
        </div>
</div>
<div class="page">
    <h1 id="coming" class="page-header">Coming</h1>
    <h2>People coming!</h2><br /><br />
    <div style=" overflow:auto; height:95%;">
        <table class="table table-hover" style="text-align:left; margin-left: 4%; max-width: 600px; margin-left: 4%;">
            {% for invitation in stats.list_yes %}
                <tr><td  class="col-md-2"><b>{{ invitation.invite }}:</b></td>
                    <td  class="col-md-5">{{ invitation.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="page">
    <h1 id="diet" class="page-header">Diet information</h1>
    <h2>Diet information</h2><br /><br />
    <div style=" overflow:auto; height:95%;">
        <table class="table table-hover" style="text-align:left; margin-left: 4%; max-width: 700px;">
            {% for diet in stats.diet_choices %}
                <tr><td class="col-md-1"><b>{{ diet.diet }}:</b></td>
                    <td style="white-space:pre-wrap" class="col-md-5">{{ diet.number }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "statistics/js/bootstrap.min.js" %}"></script>
<script src="{% static "statistics/statistics.js" %}"></script>


</body>
</html>