<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static "meer/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "meer/statistics.css" %}">
    <title></title>
</head>
<body>



<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Statistics & more</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="navbutton"><a href="#statistics">Statistics</a></li>
                <li class="navbutton"><a href="#coming">Coming</a></li>
                <li class="navbutton"><a href="#comments">Comments</a></li>
                <li class="navbutton"><a href="#rides">Rides</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Export<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/export_all">Export <b>all data</b> to excel</a></li>
                        <li><a href="/export_hall"> Export data to <b>hall/app</b> excel</a></li>
                        <li><a href="/export_rides"> Export <b>rides</b> info to excel</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="page">
    <h1 class="page-header" id="statistics" style="margin-top: 0">Statistics</h1>
    <h2>Statistics</h2><br /><br />
    <div class="container table-responsive">
    <table class="table table-hover " style="text-align:left; margin-left: 8%; max-width: 500px;">
        <tr>
            <td>Number of people coming:</td>
            <td>{{ stats.coming }}</td>
        </tr>
        <tr>
            <td>Number of people <b>not</b> coming:</td>
            <td>{{ stats.not_coming }}</td>
        </tr>
        <tr>
            <td>Number of people <b>maybe</b> coming:</td>
            <td>{{ stats.maybe_coming }}</td>
        </tr>
        <tr>
            <td>Number of vegans/vegetarians coming:</td>
            <td>{{ stats.vegans_coming }}</td>
        </tr>
        <tr>
            <td>Percentage of invitations opened:</td>
            <td>{{ stats.percent_opened }}%</td>
        </tr>
        <tr>
            <td>Percentage of invitations RSVPed:</td>
            <td>{{ stats.percent_invite_rsvped }}%</td>
        </tr>
        <tr>
            <td>Percentage of people RSVPed:</td>
            <td>{{ stats.percent_person_rsvped }}%</td>
        </tr>
    </table>
        </div>
</div>
<div class="page">
    <h1 id="coming" class="page-header">Coming</h1>
    <h2>People coming!</h2><br /><br />
    <div style=" overflow:auto; height:95%;">
        <table class="table table-hover" style="text-align:left; margin-left: 8%; max-width: 600px;">
            {% for invitation in stats.list_yes %}
                <tr><td  class="col-md-1"><b>{{ invitation.invite }}:</b></td>
                    <td  class="col-md-5">{{ invitation.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="page">
    <h1 id="comments" class="page-header">Comments</h1>
    <h2>Comments</h2><br /><br />
    <div style=" overflow:auto; height:95%;">
        <table class="table table-hover" style="text-align:left; margin-left: 8%; max-width: 700px;">
            {% for invitation in stats.list_comments %}
                <tr><td class="col-md-1"><b>{{ invitation.invite }}:</b></td>
                    <td style="white-space:pre-wrap" class="col-md-5">{{ invitation.message }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="page">
    <h1 id="rides" class="page-header">Rides</h1>
    <h2>Rides</h2><br /><br />
    <div style=" overflow:auto; height:95%;">
        <table class="table table-hover" style="text-align:left; margin-left: 8%; max-width: 700px;">
            {% for invitation in stats.list_comments %}
                <tr><td><b>Testing:</b></td>
                    <td style="white-space:pre-wrap">Testing</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "meer/js/bootstrap.min.js" %}"></script>
<script src="{% static "meer/statistics.js" %}"></script>


</body>
</html>